<header class="header">
    <h1 class="titre">Bibliothèque</h1>

    <nav class="navbar">
        <a href="./index">Accueil</a>
        <a href="./livres">Livres</a>
        <a href="./emprunts">Emprunts</a>
        <a href="./login">Connexion</a>         
        <a href="./contact">Contact</a>
    </nav>

    <div class="icons">
        <div class="fas fa-user" id="cart-btn"></div>
        <div class="fas fa-bars" id="menu-btn"></div>
    </div>
</header>