<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form account</title>
        <!-- font cdn link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <link rel="stylesheet" href="./../public/css/style.css">
    <link rel="stylesheet" href="./../public/css/normalize.css">
    <link rel="stylesheet" href="./../public/./css/account.css">
</head>
<body>
    <header class="header">
        <h1 class="titre">Bibliothèque</h1>

        <nav class="navbar">
            <a href="./index">Accueil</a>
            <a href="./livres">Livres</a>
            <a href="./emprunts">Emprunts</a>
            <a href="./login">Connexion</a>            
            <a href="./contact">Contact</a>
        </nav>

        <div class="icons">
            <div class="fas fa-user" id="cart-btn"></div>
            <div class="fas fa-bars" id="menu-btn"></div>
        </div>
    </header>
    <main>
        <div class="formAccount" >
            <img src="./../public/img/avatar.jpg" alt="avatar" class="avatar">
            <h1 class="titre-account"> Créer <span> un Compte</span></h1>
            <form method="post" id="formAccount" novalidate>
                <input type="text" id="first-name" placeholder="First name" required >
                <div id="first-name-error" class="error"></div>
                <input type="text" id="last-name" placeholder="Last name" required>
                <div id="last-name-error" class="error"></div>
                <input type="password" id="motPasse" placeholder="Password" required minlength="6" maxlength="12">
                <div id="motpasse-error" class="error"></div>
                <input type="email" id="email" placeholder="Email">
                <div id="email-error" class="error"></div>
                <input type="text" id="adresse" placeholder="Adresse" required>
                <div id="adress-error" class="error"></div>
                <br><br><br>
                <input type="Submit" id="submit" onclick = "insertUtilisateur()" value="Create account">     
            </form>
        </div>
    </main>
    <footer >
        <p >&copy;Bibliothèque | &copy;Collège La Cité</p>
        <p >Développé par &lt;Bilan-Marc-Walid-Stevens-Hamza&gt;</p>
    </footer>
</body>
<script src="./../main.js"></script>
</html>