<main>
    <div class="formAccount" >
        <img src="./../public/img/avatar.jpg" alt="avatar" class="avatar">
        <h1 class="titre-account"> Créer <span> un Compte</span></h1>
        <form method="POST" id="formAccount">
            <input type="text" id="first-name" placeholder="Prenom" required >
            <div id="first-name-error" class="error"></div>
            <input type="text" id="last-name" placeholder="Nom" required>
            <div id="last-name-error" class="error"></div>
            <input type="password" id="motPasse" placeholder="Mot de passe" required minlength="6" maxlength="12">
            <div id="motpasse-error" class="error"></div>
            <input type="email" id="email" placeholder="Courriel" required>
            <div id="email-error" class="error"></div>
            <input type="text" id="adresse" placeholder="Adresse" required>
            <div id="adress-error" class="error"></div>
            <br><br><br>
            <input type="Submit" id="submit" onclick = "insertUtilisateur()" value="Create account">     
        </form>
    </div>
</main>
