<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form account</title>
        <!-- font cdn link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <link rel="stylesheet" href="./../public/css/style.css">
    <link rel="stylesheet" href="./../public/css/normalize.css">
    <link rel="stylesheet" href="./../public/css/contact.css">
</head>
<body>
    <header class="header">
        <h1 class="titre">Bibliothèque</h1>

        <nav class="navbar">
            <a href="./index.html">Accueil</a>
            <a href="./livres.html">Livres</a>
            <a href="./emprunts.html">Emprunts</a>
            <a href="./login.html">Connexion</a>            
            <a href="./contact.html">Contact</a>
        </nav>

        <div class="icons">
            <div class="fas fa-user" id="cart-btn"></div>
            <div class="fas fa-bars" id="menu-btn"></div>
        </div>
    </header>
    <main>
        <!-- Section Page contactez nous -->
        <section class="contact" id="contact">
            <h1 class="heading">contactez  <span>nous</span> </h1>

            <div class="row">
                <img src="./../public/img/image.jpg" alt="" width="500" height="400">

                <form action="">
                    <div class="inputBox">
                        <span class="fas fa-user"></span>
                        <input type="text" placeholder="nom">
                    </div>
                    <div class="inputBox">
                        <span class="fas fa-envelope"></span>
                        <input type="email" placeholder="adresse courriel">
                    </div>
                    <div class="inputBox">                      
                        <input type="text" placeholder="Votre message">
                    </div>
                    <input type="submit" value="contactez nous" class="btn">
                </form>
            </div>
        </section>
    </main>

    <footer >
        <p >&copy;Bibliothèque | &copy;Collège La Cité</p>
        <p >Développé par &lt;Bilan-Marc-Walid-Stevens-Hamza&gt;</p>
    </footer>
</body>
<script src="./../main.js"></script>
</html>