<main>
    <!-- Section Page contactez nous -->
    <section class="contact" id="contact">
        <h1 class="heading">contactez  <span>nous</span> </h1>

        <div class="row">
            <img src="./../public/img/image.jpg" alt="" width="500" height="400">

            <form action="">
                <div class="inputBox">
                    <span class="fas fa-user"></span>
                    <input type="text" placeholder="nom">
                </div>
                <div class="inputBox">
                    <span class="fas fa-envelope"></span>
                    <input type="email" placeholder="adresse courriel">
                </div>
                <div class="inputBox">                      
                    <input type="text" placeholder="Votre message">
                </div>
                <input type="submit" value="contactez nous" class="btn">
            </form>
        </div>
    </section>
</main>