<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bibliotheque</title>
        <!-- font cdn link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <link rel="stylesheet" href="./../public/css/style.css">
    <link rel="stylesheet" href="./../public/css/normalize.css">
    <link rel="stylesheet" href="./../public/css/acceuil.css">
    
</head>
<body>
    <header class="header">
        <h1 class="titre">Bibliothèque</h1>

        <nav class="navbar">
            <a href="./index.html">Accueil</a>
            <a href="./livres.html">Livres</a>
            <a href="./emprunts.html">Emprunts</a>
            <a href="./login.html">Connexion</a>         
            <a href="./contact.html">Contact</a>
        </nav>

        <div class="icons">
            <div class="fas fa-user" id="cart-btn"></div>
            <div class="fas fa-bars" id="menu-btn"></div>
        </div>
    </header>
    <main>
        <!-- Section Page d'accueil -->
        <section class="accueil" id="accueil">
            <div class="content">
                <h3>Bibliothèque</h3>
                <p>Vous retrouvez plusieurs fonctionnalités importantes et utiles dans 
                    notre plateforme de système de gestion de bibliothèque qui peuvent 
                    facilités la recherche de livre et l’accès aux livres dans une bibliothèque.</p>
                <a href="./login.html" class="btn">Réserver un livre!</a>
         <table>
             <tr>
                 <th>Journée</th>
                 <th>Les heures</th>
             </tr>
             <tr>
                 <td>Lundi</td>
                 <td>10h-20h</td>
             </tr>
             <tr>
                <td>Mardi</td>
                <td>10h-20h</td>
            </tr>
            <tr>
                <td>Mercredi</td>
                <td>10h-20h</td>
            </tr>
            <tr>
                <td>Jeudi</td>
                <td>10h-20h</td>
            </tr>
            <tr>
                <td>Vendredi</td>
                <td>10h-20h</td>
            </tr>
            <tr>
                <td>Samedi</td>
                <td>9h-17h</td>
            </tr>
            <tr>
                <td>Dimanche</td>
                <td>9h-17h</td>
            </tr>
         </table>
        </div> 
        <div class="images">
            <h2>Nouveautés</h2>
            <span style="--i:1;"><img src="./../public/img/Le Petit Prince.png" alt=""></span>
            <span style="--i:2;"><img src="./../public/img/JAVASCRIPT&JQUERY.png" alt=""></span>
            <span style="--i:3;"><img src="./../public/img/Guide auto 2022.png" alt=""></span>
            <span style="--i:4;"><img src="./../public/img/La methode Cesae Milan.png" alt=""></span>
            <span style="--i:5;"><img src="./../public/img/Orient.png" alt=""></span>
        </div>
        </section>

    </main>
    <footer >
        <p >&copy;Bibliothèque | &copy;Collège La Cité</p>
        <p >Développé par &lt;Bilan-Marc-Walid-Stevens-Hamza&gt;</p>
    </footer>
</body>
<script src="./../main.js"></script>
</html>