<main>
    <!-- Section Page Menu -->
    <section class="menu" id="menu">
        <h1 class="titre-menu">Thématique</h1>
        <div class="search">
            <input class="srch" type="search" name="" placeholder="Entrez le nom...">
            <input class="submit" type="submit" name="" value="Recherche">        
        </div>
        <div class="alphabet">
            <a class="item" href="#A">A</a>
            <a class="item" href="#">B</a>
            <a class="item" href="#">C</a>
            <a class="item" href="#">D</a>
            <a class="item" href="#">E</a>
            <a class="item" href="#">F</a>
            <a class="item" href="#G">G</a>
            <a class="item" href="#H">H</a>
            <a class="item" href="#">I</a>
            <a class="item" href="#J">J</a>
            <a class="item" href="#">K</a>
            <a class="item" href="#">L</a>
            <a class="item" href="#M">M</a>
            <a class="item" href="#">N</a>
            <a class="item" href="#O">O</a>
            <a class="item" href="#P">P</a>
            <a class="item" href="#">Q</a>
            <a class="item" href="#">R</a>
            <a class="item" href="#">S</a>
            <a class="item" href="#">T</a>
            <a class="item" href="#">U</a>
            <a class="item" href="#">V</a>
            <a class="item" href="#">W</a>
            <a class="item" href="#">X</a>
            <a class="item" href="#Y">Y</a>
            <a class="item" href="#">Z</a>
        </div>

        <div class="box-container">
            
        </div>
    </section>
</main>
