<main>
    <div class="formLogin"> 
        <h1 class="titre-login">Connexion</h1>          
        <form  id="formLogin">
            <input type="text" id="loginConnexion" placeholder="Adresse courriel">
            <div id="login-error" class="error"></div>
            <input type="password" id="passeConnexion"  placeholder="Mot de passe">
            <div id="passeConnexion-error" class="error"></div>
            <input type="Submit"  value="Login">
            <a href="./comptes">Vous n'avez pas encore de compte? S'inscrire maintenant</a>
            <script>
                import { db, selectUtilisateur } from './sqlite3.js';

                db.query(selectionLivre, ['1'], function (err, result) {
                    if (err) { throw err };
                    console.log(result);
                });


                
            </script>
        </form>
    </div>
    
</main>
