.heading{
    padding-top: 3.5rem;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    padding-bottom: 2.5rem;
    font-size: 7rem;
}

.heading span{
    color: #a0835f;
    text-transform: uppercase;
}

.contact h1{
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    padding-bottom: 1.5rem;
    font-size: 5rem;
}
.contact .row{
    display: flex;
    background: center;
    background: var(--black);
    flex-wrap: wrap;
    gap: 1rem;
}

.contact .row map{
    flex:  1 1 45rem;
    width: 100%;
    object-fit: cover;
}

.contact .row form{
    flex:  1 1 45rem;
    padding: 5rem 2rem;
    text-align: center;
}

.contact .row form h3{
    text-transform: uppercase;
    font-size: 3.5rem;
    color: #fff;
}

.contact .row form .inputBox{
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background: var(--black);
    border: var(--border);
}

.contact .row form .inputBox span{
    color: #fff;
    font-size: 2rem;
    padding-left: 2rem;
}

.contact .row form .inputBox input{
    width: 100%;
    padding: 2rem;
    font-size: 1.7rem;
    color: #fff;
    text-transform: none;
    background: none;
}